<div style="width: 200px;position: absolute;left: 550px;top: -3px;">
	<div class="search" style="background-color: #f9f9f9;margin-top:15px;border:1px solid #E5E7EA;">
        <div class="sologo gsearch" ng-click="searchContentClick()">
        	<img src="./images/Popzu/index_search.png">       
        </div> 
        <input class="gword" type="text" placeholder="{{dataClassShow[4]}}" style="background-color: #f9f9f9;" ng-model="searchContent">
    </div>     
</div>  
<div class="blankContent"></div> 
<div class="model_task_user" ng-show="contentOnData==1?true:false">
	<table style="width:740px;text-align:center;">  
		<thead>
			<tr style="color:#808080;">  
				<td style="text-align: left;">{{dataContentShow[0]}}</td>
				<td>{{dataContentShow[1]}}</td>
				<td>{{dataContentShow[2]}}</td>
				<td> 
					<p>{{dataContentShow[3]}}</p>
					<p>({{dataContentShow[4]}})</p>   
				</td>
				<td>{{dataContentShow[5]}}</td>
			</tr>  
		</thead>       
		<tbody>
			<tr style="height:120px;border-bottom:1px solid #e5e7ea;" ng-repeat="item in groupContentSeriesData">
				<td>
					<div>
						<img ng-src="{{item.cover || './images/security/avatar.png'}}" class="imgShowContent" />
						<div class="userInf"> 
							<div class="AgencyName">{{item.name || ''}}</div>
							<div class="planName">{{item.category.display}}</div>
							<p>{{item.serviceLanguage.display}}·{{item.difficulty.display}}</p>
						</div>  
					</div>
				</td>
				<td width='80'>{{item.creator.userNickName}}</td>
				<td width="100">{{item.createdAt}}</td>
				<td width="170" style="color:#ADD5AE;">{{item.tutNums}}/{{item.stuNums}}/{{item.useNums}}</td>
				<td width="100"><div class="userDetails" ng-click="seriesDetailsLook(item.seriesId)">{{dataStudentsShow[6]}}</div></td>
			</tr>    
		</tbody>   
	</table>
	<div class="worDoorPaging">
		<div class="tcdPageCode" ng-if="contentListGroupPaging"></div>
	</div> 
</div>
<div ng-if="contentOnData==0?true:false" class="no_data_show">
	 
	<img src="./images/dataLook/empty@2x.png"> 
	<p>这里什么都没有~~</p> 
</div> 
 
<!-- 系列详情弹窗 -->
<div class="shadow" ng-if="contentLookShow">  
	<div class="orderDetailsLook">  
		<div class="orderLookTitle" style="margin-bottom:20px;">
			{{dataContentShow[5]}}  
            <div class="delete" ng-click="closeShadow()">
                <img src="./images/close.png">
            </div>    
		</div>  
		<table ng-if="contentOnDataDetails==1 ? true :false">
			<thead>  
				<tr style="color:#808080;font-size: 12px;height:50px;">
					<td style="text-align: left;">{{dataContentShow[6]}}</td>
					<td>{{dataContentShow[1]}}</td>
					<td>{{dataContentShow[2]}}</td> 
					<td>
						<p>{{dataContentShow[3]}}</p> 
						<p>({{dataContentShow[4]}})</p>
					</td>
					<td>
						<p>{{dataContentShow[7]}}</p>
						<p>({{dataContentShow[8]}})</p>
					</td>
				</tr>
			</thead>
			<tbody> 
				<tr style="height:120px;border-bottom:1px solid #e5e7ea;" ng-repeat="item in groupContentSeriesDetailsData">
					<td>
						<div>
							<img ng-src="{{item.cover || ''}}" class="imgShowContent" />
							<div class="userInf">
								<div class="AgencyName">{{item.name || ''}}</div>
								<div class="planName">{{item.category || ''}}</div>
								<p>{{item.language || ''}}·{{item.difficulty || ''}}</p>
							</div>
						</div> 
					</td>
					<td width='80'>{{item.creator || ''}}</td>
					<td width="100">{{item.updatedTime}}</td>
					<td width="120" style="color:#ADD5AE;">{{item.tutNums}}/{{item.stuNums}}/{{item.useNums}}</td>
					<td width="120" style="color:#09C0CE;">{{item.stuEval}}/{{item.tutEaval}}</td>
				</tr>   
			</tbody> 
		</table> 
		<div ng-if="contentOnDataDetails==0 ? true :false">{{no_data}}</div>
		 <div class="worDoorPaging">
			<div class="tcdPageCode tcdPageCodeDetail" ng-show="contentListDetailsPaging"></div> 
		</div>
	</div>  
</div> 