<div class="searchAdd clear">
    <div class="clear">
        <div class="search fl">
            <div class="sologo gsearch" ng-click="searchCourse(courseSearch)">
            	<img src="./images/Popzu/index_search.png">
            </div>
            <input class="gword" type="text" placeholder="{{Search}}" ng-model="courseSearch">
        </div>
        <div class="addCourse addse gadd fr" ng-click="addNewSeries()">
            <div class="addSign"><img src="./images/security/index_addcourse.png"></div>
            <span>{{add_series}}</span>
        </div>
    </div>
</div>
<div class="PopzuCount">{{seriesAll}}
	<ul class="clear ificationNav fr">  
        <li ng-mouseover="statusCourse=true" ng-mouseout="statusCourse=false"><span>{{status}}</span>
            <span class="triangle triangle_down_gray"></span>
            <ul class="ificationNavSel fstatus" ng-show="statusCourse">
                <li ng-repeat="item in statusList" ng-click="courseStatusFilter(item.val)" ng-mouseover="isChoose=$index" ng-mouseout="isChoose=100" ng-class="{chooseOneChangeActive:isChoose==$index}">{{item.display}}</li>
            </ul>   
        </li>
        <li ng-mouseover="typeCourse=true" ng-mouseout="typeCourse=false"><span>{{type}}</span>
            <span class="triangle triangle_down_gray"></span>
            <ul class="ificationNavSel fcategory" ng-show="typeCourse">
                 <li ng-repeat="item in courseTypeList" ng-click="courseCategoryFilter(item.val)" ng-mouseover="isTypeChoose=$index" ng-mouseout="isTypeChoose=100" ng-class="{chooseOneChangeActive:isTypeChoose==$index}">{{item.display}}</li>                     
            </ul>
        </li>  
    </ul>
</div>   
<div class="noDataShow" ng-if="noDataShow">
    <p>{{noDataShowToAddSeries}}</p>
</div>
<ul class="displayCourse">
	<li class="courseRealDetail" ng-repeat="(index,item) in seriesList" ng-click="seriesCourse(item)">
		<div style="background-size:100%;;background-image: url({{item.cover}})" class="myPic">
			<div class="pub">
				<span>{{item.auditStatusShow}}</span>
			</div>
			<div class="signWrap">
				<div class="sign time">{{item.category.display}}</div>
				<div class="sign el">{{item.difficulty.display}}</div>
			</div>  
		</div>
		<div class="font">
			<h3>{{item.title}}</h3>
			<p class="descriptionP">包含{{item.resourceNum}}个课程</p>
		</div>
        <div ng-mouseover="enter(data,$event)" ng-mouseout="out(data,$event)" class="setUp">   
            <img style="width:27px;height:27px;" src="./images/security/Course-Details_setting.png" alt="" />
            <ul class="editLi">
                <li ng-click="editSeries($event,item.id)" ng-mouseover="chooseOnlyOne=1" ng-mouseout="chooseOnlyOne=100" ng-class="{chooseOneChangeActive:chooseOnlyOne==1}">{{edit_series}}</li>         
                 <li ng-click="verifySeries($event,item.id)" ng-mouseover="chooseOnlyOne=2" ng-mouseout="chooseOnlyOne=100" ng-class="{chooseOneChangeActive:chooseOnlyOne==2}" ng-if="item.auditStatus.id==0?true:false">{{verify_normal}}</li>
                <li ng-click="removeSeries($event,item.id)" ng-mouseover="chooseOnlyOne=3" ng-mouseout="chooseOnlyOne=100" ng-class="{chooseOneChangeActive:chooseOnlyOne==3}">{{delete_series}}</li>
                <li ng-click="detailSeries($event,item.id)" ng-mouseover="chooseOnlyOne=4" ng-mouseout=" chooseOnlyOne=100" ng-class="{chooseOneChangeActive:chooseOnlyOne==4}" ng-if=" item.auditStatus.id==0?false:true">{{series_details}}</li>   
                <li ng-click="courseSort($event,item.id)" ng-mouseover="chooseOnlyOne=5" ng-mouseout="chooseOnlyOne=100" ng-class="{chooseOneChangeActive:chooseOnlyOne==5}" ng-if="item.auditStatus.id==2?true:false">课程排序</li>          
            </ul>  
        </div>    
	</li>
	<div style="clear:both;"></div>
</ul>
<div class="worDoorPaging">
	<div class="tcdPageCode" ng-show="courseNavPaging"></div>
</div>  
<!--  ng-if="item.auditStatus.id==0?true:false"  -->
  